html{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{background-color: #65b7ff;}

nav {
    
    position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        background-color: white;
        margin-bottom: 10px;
}

.nav-button{
    float: right;
    position: relative;
    right: 0px;
    margin: 10px;
    background-color: dodgerblue;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.form-wrapper{
    margin: 100px 30% 30% 30%;
    width: 30%;
    border: 2px solid grey;
    padding:10px;
    text-align: center;
    background: white;
    border-radius: 5px;
    
}
.form-wrapper input{
    border-radius: 5px;
}

#submit{
    width: 50%;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
}


