html{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{background-color: #65b7ff;}

nav {
    
    position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        background-color: white;
        margin-bottom: 10px;
}

.nav-button{
    float: right;
    position: relative;
    right: 0px;
    margin: 10px;
    background-color: dodgerblue;
    text-decoration: none;
    padding: 6px;
    border-radius: 3px;
    color: white;
}

.form-wrapper{
    margin: 100px 30% 30% 30%;
    width: 25%;
    border: 2px solid grey;
    padding:10px;
    text-align: center;
    background: white;
    border-radius: 5px;
    
}
.form-wrapper input{
    border-radius: 3px;
    width: 70%;
    padding: 3px;
    margin: 5px;

}
.form-wrapper h1{
    text-align: left;
    margin-left: 13%;
    
}

#submit{
    width: 70%;
    background-color: dodgerblue;
    color: white;
    border-style: hidden;
    border-radius: 3px;
    
}
.media-icons{
    margin:14px;
    padding-left: 10px;
}
.media-icons a{
    text-decoration: none;
}
